*.c       eol=lf
*.cfg     eol=lf
*.chm     binary
*.cpp     eol=lf
*.fzz     binary
*.h       eol=crlf
*.html    eol=crlf
*.ino     eol=lf
*.jpg     binary
*.pdf     binary
*.py      eol=lf
*.s       eol=lf
*.txt     text
*.vcproj  eol=crlf
*.xc      eol=crlf
*.xn      eol=lf
*.zip     binary
.cproject eol=crlf
.gitattributes eol=lf
.gitignore eol=lf
.makefile eol=lf
.project  eol=crlf
.xproject eol=crlf
Makefile  eol=lf
